body{
	margin: 0px;
}

/* Scroll bar design code*/
/* width */
aside::-webkit-scrollbar {
  width: 10px;
}

/* Track */
aside::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
aside::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
aside::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.deskdoard{
	max-width:100%;
	overflow: hidden; 
	width: calc(100% - 250px);
	float: right;
}

aside{
	width: 250px;
	border:1px solid darkgray;
	border-width:0 0px 0 0;
	background-color: #fff;
	padding-top:0;
	left:0;
	box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
	font-family:sans-serif;
	overflow-y: auto;
	position: fixed;
	height: 100vh;
}

article{
	overflow-y: auto;
}

.Sidebar-Item p{
	margin: 0px;
	color: #471f87;
	cursor: pointer;
}
.Sidebar-Item p img{
    width: 20px;
    float: left;
    padding-right: 20px;
}
.link-text{
	margin:30px 5px 5px 20px; 
}
.Header{
	height:40px;
	max-width:100%; 
	text-align:center; 
	padding-top:10px;  

}
.Header h1{
	color: rgba(0,0,0,.6);
}
.desk i{
	float:left;
}

.desk{
	margin: 20px 5px 2px 10px;
	padding:7px 0 7px 30px;
	background: #f6f9fc;
	border-radius:10px;
}
.desk img{
	width: 20px;
}
article .Main-Container{
	/*background-color: #11cdef!important;*/
	padding: 10px;
	width: calc(100% - 20px);
}
.Header-Container{
	padding-top: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 90px; 
}
.SideBar-inner ul {
	list-style: none;
	text-decoration:none; 
	margin-left:-40px; 
}
.MenuShowIcon{
	display: none;
	width: 25px;
	height: 25px;
	margin: auto;
	position: absolute;
	cursor: pointer;
	text-align: center;
    padding-top: 2px;
    height: 19px;
    margin-top: 7px;
}
.MenuShowIcon img{
	width: 30px;
	margin: -6px 0px 0px -3px;
}
.SearchBox{
    overflow: hidden;
    padding: 10px 10px;
    border-radius: 20px;
    margin-top: -15px;
}
.HeaderSearchIcon{
	height: 20px;
    margin-top: 12px;
    padding-left: 3px;
}
.SearchInpuBox{
	display:flex; 
	border:1px solid darkgray; 
	height:45px;
	margin-top: 12px;
	background-color:#fff; 
	max-width:220px;
	border-radius:0px 20px; 
	box-shadow:0 7px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02); 
}
.SearchInput{
	padding-left:10px;
	outline:none;
	border:none;
	background: none;
}


.TopRightIconBox{
	display:flex;
	padding-top: 13px;
}
.TopRightIconBox div{
	padding: 0px 10px;
}
.Image{
	width: 35px;
	height: 35px;
	margin: -16px 10px -12px -4px;
	border-radius:50%;
}
.MenuProfileIcon{
	margin: 0px 10px -6px 0px;
    width: 20px;
}

.TopRightIconBox  img :hover .ProfileBar{
	display:block;
	position:absolute;
	background:rgb(0,100,0); 
}

/*PROFILEBAR CSS*/
.ProfileBar {
	font-family:sans-serif; 
	border-radius: 10px; 
	width: 180px;
	display: block;
	flex-direction: column;
	list-style:none;
	margin-left: 30px;
	margin-top: -10px;
	z-index: 2;
	position: absolute;
	background-color: #fff;
	padding: 0px;
	transform: translate3d(-140px, 44px, 0px);
	box-shadow: 0 50px 100px rgba(50,50,93,.1),
	0 15px 35px rgba(50,50,93,.15)
	 0 5px 15px rgba(0,0,0,.1);

}
.ProfileBar ul{
	list-style: none;
	    padding: inherit;
}
.ProfileBarFullname{
    font-size: 12px;
    color: #471f87;
}
.ProfileBar ul li{
	padding: 14px 7px 15px 30px;
}
.ProfileBar ul li span{
	color: 	#471f87;
	cursor: pointer;
}
.ProfileBar ul li:hover 
{
	 background-color: rgba(0,0,0,0.5);
	border-radius:5px;

}
.ProfileBar img {
	margin-right:10px;
	opacity: 1;
}


.container{
	display: grid;
	grid-template-columns: 1fr 45px;
    overflow-x: auto;   
}
.defaultdesk{
	display:flex;
}
.default p{
	color: #fff;
	font-size:20px; 
    font-family: sans-sersif;
}
.sidedesk p{
	margin-left:10px;
	margin-right:10px;
	margin-top:23px; 
	display: flex;
	color: #fff;
    font-family: sans-serif;
}
.filter button{
	background-color:#fff;
	 height:25px;
	 border-radius:5px; 
	 border:none;
	 margin-top:20px; 
     box-shadow:0 7px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
}
 
 /*4 Control-Box CSS*/ 
.Control-Box{
	display:grid; 
	grid-template-columns: repeat(4,1fr);
	grid-gap:20px;
	overflow: hidden; 
}
.Sub-Control-box1{
	padding: 10px;
    box-shadow: 0 7px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
    margin-top: 10px;
    border-radius: 0px 15px;
    background-color: #fff;
    width: calc(100% - 20px);
    overflow: hidden;
}
.Heading-icon{
	display: flex;
}
.SubControlA{
	width: 100%;
}
.icon{
	height: 40px;
	width: 40px; 
	border-radius: 40px;
	background: -webkit-linear-gradient(3deg,#f5365c,#f56036)!important;
	margin-top: -5px;
}
.icon i{
	padding: 10px 10px 2px 12px;
	color: #fff;
}
.number h1{
	font-size: 15px;
}
.tag-line h1{
	font-size: 15px;
}
 	
 /*	GraphocalReportMainBox*/

.GraphocalReportMainBox{
	width:calc(100% - 20px);
	margin: -60px 10px 30px 10px; 
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 30px; 
}


.GraphocalReport{
	min-height: 400px;
	width:100%;
}
.Grafical-table{ 
	border:1px solid black;
	box-shadow: 0 7px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
	background-color: #172b4d;
	height:500px;   
}
.Grafical-table-header{
	height:50px;
	padding-bottom: 7px;
	display:grid;
	grid-template-columns:1fr 153px;   
}
.Grafical-table-header-box-right{
	display: flex;
	padding: 20px;
}
.Grafical-table-header-box-right button{
	box-shadow: 0 15px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
    height: 33px;
    outline: none;
    border: none;
    border-radius: 8px;
    margin: 0px 5px;

}
.Grafical-table-container{
	padding: 20px;
}

.Grafical-table-container-chart{
	height: 400px;
	border:1px solid black;
}
.graphic-design{
	display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/*Extra Importent code*/
.Footer{
	width: calc(100% - 250px);
	float: right;
}


/*responsive code*/
@media(max-width: 1024px){
	.Control-Box{
		grid-template-columns: repeat(2,1fr);
	}
	.GraphocalReportMainBox{
		grid-template-columns: 1fr;
	}
}

@media(max-width: 620px){
	.Header-Container{
		padding-top: 0px;
		margin-top: -10px;
	}
	aside{
		display:none;
		position: absolute;
    	width: 100%;
    	z-index: 2;
	}
	.SearchInpuBox{
		background: none;
	    border: none;
	    box-shadow: none;
	    float: right;
	    margin-top: 5px;
	}
	.SearchInput{
		display: none;
		height: 40px;
	    position: absolute;
	    left: 0;
	    width: calc(100% - 20px);
    	padding-right: 10px;
    	background: white;
	}
	.HeaderSearchIcon,.HeaderSearchCloseIcon{
	    width: 17px;
	    height: 20px;
	    margin-top: 12px;
	    margin-left: 12px;
	    z-index: 1;
	}
	.deskdoard{
		width: 100%;
	}
	.MenuShowIcon{
		display: block;
	}
	.Footer{
		width: 100%;
	}
}

@media(max-width: 420px){
	.Control-Box{
		grid-template-columns: repeat(1,1fr);
	}
}