/*Global css code*/
body{
	margin: 0px;
}
input, select, textarea{
	border: 1px solid darkgray;
    border-radius: 0px 10px;
    height: 30px;
    outline: none;
    padding: 0px 5px;
    color: darkgray;
}
input{
width: calc(100% - 12px);
}
select{
    width: 100%;
}
::-webkit-input-placeholder { /* Edge */
  color: darkgray;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: darkgray;
}

::placeholder {
  color: darkgray;
}

/*Local css code*/
.PageTitle{
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.Form{
	max-width: 924px;
    margin: 30px auto;
    width: calc(100% - 60px);
    padding: 30px 20px;
    border: 5px solid #ffffff;
    border-radius: 10px 0px;
    background: darkcyan;
}
.Form1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.InputSpanTitle{
    color: white;

}
.PlanExpTimeBox,.PlanStartTimeBox,.PlanValidityBox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.PlanStartTime,.PlanExpTime,.PlanValidity{
    border-top-right-radius: 0px;
}
.PlanStartTimeType,.PlanExpTimeType,.PlanValidityType{
    border-bottom-left-radius: 0px;
    height: 32px;
    border-left: none;

}
.FormLast{
	display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
}
textarea{
    width: 98%;
    resize: none;
    height: 150px;
    padding: 5px;
    margin-bottom: 30px;
}

.TablesDefaultValues{
     margin-bottom: 0px;
}
.SecurityCode{
	width: 50%;
    margin: 30px auto 0px auto;
}
.AddPlanButton{
	max-width: 230px;
    width: 100%;
    min-height: 30px;
    border-radius: 0px 10px;
    outline: none;
    background: darkcyan;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 30px auto 0px auto;
    text-align: center;
    border: 2px solid #fff;
    padding: 10px 0px 0px 0px;
    cursor: pointer;
}

.AddPlanButton:hover{
    background: linear-gradient(skyblue, pink);
}

/*
important changes  
 */
.loader_round {
    height: 32px;
    width: 32px;
}
.loader_round::after {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    top: 0; left: 0;
    bottom: 0; right: 0;
    margin: auto;
    background: #FFF;
    border-radius: 50%;
    -webkit-animation: loader_round-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader_round-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-1 {
    0%   { -webkit-transform: scale(0); opacity: 0; }
    50%  { -webkit-transform: scale(1); opacity: 1; }
    100% { -webkit-transform: scale(0); opacity: 0; }
}
@keyframes loader_round-1 {
    0%   { transform: scale(0); opacity: 0; }
    50%  { transform: scale(1); opacity: 1; }
    100% { transform: scale(0); opacity: 0; }
}
.loader_round span {
    display: block;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    -webkit-animation: loader_round-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
            animation: loader_round-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-2 {
    0%   { -webkit-transform: rotate(0deg); }
    50%  { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader_round-2 {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}
.loader_round span::before,
.loader_round span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    margin: auto;
    height: 12px;
    width: 12px;
    background: blue;
    border-radius: 50%;
    -webkit-animation: loader_round-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
            animation: loader_round-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-3 {
    0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
    50%  { -webkit-transform: translate3d(-16px, 0, 0) scale(.5); }
    100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader_round-3 {
    0%   { transform: translate3d(0, 0, 0) scale(1); }
    50%  { transform: translate3d(-16px, 0, 0) scale(.5); }
    100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader_round span::after {
    -webkit-animation: loader_round-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
            animation: loader_round-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-4 {
    0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
    50%  { -webkit-transform: translate3d(16px, 0, 0) scale(.5); }
    100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader_round-4 {
    0%   { transform: translate3d(0, 0, 0) scale(1); }
    50%  { transform: translate3d(16px, 0, 0) scale(.5); }
    100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader_button_center {
    position: absolute;
    margin: -3px 0px 0px 10px;
}

@media (max-width: 380px){
    .Form1{
        grid-template-columns: 1fr;
    }
}