.MainContainer{
	margin-bottom: 30px;
	min-height: calc(100vh - 210px);
}
.SearchBoxMain{
	margin: 30px auto;
	max-width: 1024px;
	width:80%;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	display:grid;
	grid-template-columns: 1fr 50px;
	box-shadow:0 0 0 3px rgba(0,123,255,.5);
	overflow: hidden;
}
.SearchInput{
	color: #6d6d6d;
	width:100%;
	height:26px;
	border:none;
	padding:5px;
	outline:none;
	font-size: 14px;
}
.SearchBoxIcon{
	height:36px;
	background: darkgray;
	text-align:center;
	cursor:pointer;
}
.SearchIcon{
	width:30px;
	height:30px;
	margin: 2px;

}
.NewResponseMainBox{
	margin: 30px auto 0px auto;
	max-width: 1024px;
	width:80%;
	border:1px solid #11cdef;
	overflow-x:auto;
	display:grid;
	grid-template-columns: 1fr;
	min-height:100px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding-top: 84px;
}
.NewResponseMainBox div{
	border-right:1px solid #11cdef;
	text-align:center;
	padding:5px;
}

.NewResponseMainBox div p{
	margin: 0px 0px 10px 0px;
}

.NewResponseMainBox div p:first-child{
	color: #11cdef;
}
.SearchResultButtonBox{
	margin: 5px auto;
	max-width: 1024px;
	width:80%;
	display:grid;
	grid-template-columns: repeat(4,1fr);
	grid-column-gap: 30px;
}
.SearchProfileImage{
	width: 70px;
	border-radius: 50%;
}
.SearchResultButtonBox div{
	text-align:center;
	min-height:30px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size:18px;
	padding-top: 8px;
	cursor:pointer;
	color:white;
}
.ViewServices{
	background:#0066ff; 
}
.AddServices{
	background:#0066ff;
}
.UpdateServices{
	background:green;
}
.DeletePlans{
	background:red;
}

/*Responsive device code */

@media (max-width: 380px){
	.SearchBoxMain{
		width: 95%;
	}
	.NewResponseMainBox{
		border-left: none;
		border-right: none;
		border-radius: 0px;
		width: 100%;
	}
	.SearchResultButtonBox{
		grid-row-gap: 5px;
		grid-column-gap: 10px;
		width: 99%;
	}
	.SearchResultButtonBox div{
	    min-height:20px;
        font-size: 14px;
    	padding-top: 4px;
	}
}