body{
	margin: 0px;
}
input,select{
	background: white;
    width: calc(100% - 10px);
    height: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 15px;
    max-width: 350px;
}
select{
	width: 100%;
    height: 43px;
    max-width: 360px;
}
.No_Select_Strat{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.main_Login_container{
	height: calc(100% - 90px);
	width: 100%;
	padding: 45px 0px;
}
.sub_main_Login_container{
	width: calc(100% - 30px);
	max-width: 480px;
	border: 5px solid #fff;
	margin: auto;
	border-radius: 20px 0px;
	padding: 15px 0px;
	overflow: hidden;
}
.Login_image_round_border{
	border: 5px solid #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
}
.Login_image{
	width: 100%;
	height: 100%;
}
.Login_image:hover{
	opacity: 0.6;
}
.Login_text_under_Login_image{
	text-align: center;
	font-size: 20px;
	margin-top: 5px;
	cursor: default;
	margin-bottom: 25px;
	color: #fff;
}
.Error{
	margin: -15px auto 15px auto;
    background: rgb(0,0,0,0.5);
    max-width: 350px;
    color: red;
    text-align: left;
    padding: 0px 5px;
    font-size: 14px;
}
.LoginTypeBox,.LoginForBox,.Login_username_main_box,.Login_password_main_box{
	text-align: center;
	margin-bottom: 10px;
}
.Login_response_main_box{
	width: 100%;
    text-align: center;
    max-width: 350px;
    padding: 0px 5px;
    margin: -10px auto 0px auto;
    background: rgb(0,0,0,0.5);
}
.Login_response{
	font-size: 14px;
	color: red;
}
.Login_button{
	border: 1px solid #fff;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 22px;
    padding-top: 4px;
    cursor: pointer;
    margin: 5px auto 30px auto;
    color: #fff;
}
.Login_button:hover{
	background: linear-gradient(skyblue, pink);
	color: white;
}
.Form2{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin: -20px 0px 25px 0px;
}
.FPass,.CAccount{
	width: 100%;
	text-align: center;
	cursor: pointer;
	color: #aaa;
}
.FPass:hover,.CAccount:hover{
	color: red;
}
/*
important changes  
 */
.loader_round {
	height: 32px;
	width: 32px;
}
.loader_round::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	width: 12px;
	height: 12px;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader_round-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	animation: loader_round-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-1 {
	0%   { -webkit-transform: scale(0); opacity: 0; }
	50%  { -webkit-transform: scale(1); opacity: 1; }
	100% { -webkit-transform: scale(0); opacity: 0; }
}
@keyframes loader_round-1 {
	0%   { transform: scale(0); opacity: 0; }
	50%  { transform: scale(1); opacity: 1; }
	100% { transform: scale(0); opacity: 0; }
}
.loader_round span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
	-webkit-animation: loader_round-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader_round-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-2 {
	0%   { -webkit-transform: rotate(0deg); }
	50%  { -webkit-transform: rotate(180deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader_round-2 {
	0%   { transform: rotate(0deg); }
	50%  { transform: rotate(180deg); }
	100% { transform: rotate(360deg); }
}
.loader_round span::before,
.loader_round span::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 12px;
	width: 12px;
	background: blue;
	border-radius: 50%;
	-webkit-animation: loader_round-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader_round-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-3 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(-16px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader_round-3 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(-16px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader_round span::after {
	-webkit-animation: loader_round-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader_round-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-4 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(16px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader_round-4 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(16px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader_button_center {
	position: absolute;
    margin: -3px 0px 0px 10px;
}
.Login_bottom_all_links{
	width: 100%;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	color: #fff;
}
.Login_help,.Login_TAndC,.Login_privacy,.Login_how_it_works{
	width: 30%;
	text-align: center;
	margin: 3px;
	cursor: pointer;
}

@media (min-width: 781px){
}
@media (max-width: 780px){
}

@media (max-width: 380px){
	.main_Login_container{
		padding: 0px;
	}
	.sub_main_Login_container{
		width: 100%;
		max-width: 480px;
		border: 0px;
	}
}