body
{
	margin:0px;
	padding:0px;
}

.DtlTxt{
    width: calc(100% - 12px);
	height: 30px;
	border: 1px solid #ccc;
	outline: none;
	padding: 5px;
	font-size: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	max-width: 350px;
	margin: 35px auto 0px auto;
	color: #fff;
}
.DtlTl{
	width: calc(100% - 12px);
	min-height: 15px;
	outline: none;
	font-size: 15px;
	margin-bottom: 15px;
	max-width: 350px;
	margin: 0px auto 0px auto;
	background: #8e8e8e;
	color: #fff;
}

.No_Select_Strat
{ 
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */ 
	-khtml-user-select: none; /* Konqueror HTML */ 
	-moz-user-select: none; /* Firefox */ 
	-ms-user-select: none; /* Internet Explorer/Edge */ 
	user-select: none; /* Non-prefixed version, currently supported 
							by Chrome and Opera */ 
}
.container
{
	width: 100%;
	margin-bottom: 25px;
}
.add_member_text
{
	text-align: center;
	font-size: 30px;
	padding-top: 20px;
	color:#fff;
	font-weight: bold;
}
.SubContainer
{
	margin: auto;
    border: 5px solid #fff;
    width: calc(100% - 60px);
    max-width: 924px;
    padding-bottom: 20px;
    margin-top: 16px;
    border-radius: 20px 0px;
}
.ImageBox
{
	border: 5px solid #fff;
	width:120px;
	height:120px;
	border-radius: 50%;
	margin: auto;
	margin-top: 18px;
	overflow: hidden;
}
.ImageLabelBox
{
	text-align: center;
	font-size: 18px;
}
.ProfileImage
{
	width:120px;
	height:120px;
	background: white;
}
.ProfileImage:hover{
	opacity: 0.8;
}
.ProfileImageFileLabel
{
	cursor: pointer;
    margin: -74px 0px 0px -58px;
    background: black;
    color: white;
    height: 22px;
    width: 116px;
    padding-top: 2px;
    border-radius: 8px;
    position: absolute;
    opacity: 0.3;
}
.Form1,.Form2{
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-column-gap: 25px;
	margin-bottom: 10px;
}
.Form2{
	grid-template-columns: 1fr;
}
.Form1 div,.Form2 div{
	text-align: center;
}
.ResponseBox
{
	text-align: center;
    width: calc(100% - 18px);
    max-width: 350px;
    margin: auto;
    background: rgb(0,0,0,0.5);
    padding: 5px;
    border: 1px solid darkgray;
}

.Button{
	width: calc(100% - 12px);
	height: 20px;
	border: 1px solid #ccc;
	outline: none;
	padding: 15px 5px;
	font-size: 20px;
	margin-bottom: 15px;
	border-radius: 10px;
	max-width: 350px;
	margin: 35px auto 0px auto;
	color: #fff;
	cursor: pointer;
}

.Button:hover{
	background: #8e8e8e;
}


/*
important changes  
 */
.loader_round {
	height: 32px;
	width: 32px;
}
.loader_round::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	width: 12px;
	height: 12px;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader_round-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	animation: loader_round-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-1 {
	0%   { -webkit-transform: scale(0); opacity: 0; }
	50%  { -webkit-transform: scale(1); opacity: 1; }
	100% { -webkit-transform: scale(0); opacity: 0; }
}
@keyframes loader_round-1 {
	0%   { transform: scale(0); opacity: 0; }
	50%  { transform: scale(1); opacity: 1; }
	100% { transform: scale(0); opacity: 0; }
}
.loader_round span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
	-webkit-animation: loader_round-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader_round-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-2 {
	0%   { -webkit-transform: rotate(0deg); }
	50%  { -webkit-transform: rotate(180deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader_round-2 {
	0%   { transform: rotate(0deg); }
	50%  { transform: rotate(180deg); }
	100% { transform: rotate(360deg); }
}
.loader_round span::before,
.loader_round span::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 12px;
	width: 12px;
	background: blue;
	border-radius: 50%;
	-webkit-animation: loader_round-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader_round-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-3 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(-16px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader_round-3 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(-16px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader_round span::after {
	-webkit-animation: loader_round-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader_round-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-4 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(16px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader_round-4 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(16px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader_button_center {
	position: absolute;
    margin: -3px 0px 0px 10px;
}
@media(max-width:480px)
{
	.SubContainer
	{
		border: none;
		width: 100%;
	}
	.Form1
	{
		width: 98%;
		grid-template-columns: 1fr;
	}
}
