.Container{
	margin: 30px auto;
	min-height: calc(100vh - 210px);
	border: 3px solid #fff;
	width: calc(100% - 60px);
	max-width: 924px;
	border-radius: 20px 0px;
	color: #fff;
	padding: 0px 10px;
	cursor: default;
}
.ServiceFor{
	border-bottom: 1px solid #fff;
    margin: 15px 0px;
    padding-bottom: 15px;
}
.ServiceBox{
	border-bottom: 1px solid #fff;
	margin-bottom: 50px;
	padding-bottom: 10px;
}
.ServiceOne{
	display: grid;
	grid-template-columns: 1fr 290px;
	grid-column-gap: 20px;
}

.ServiceOne p{
	margin-bottom: 0px;
}

.ServicePlansBox{
	display: grid;
    grid-template-columns: 1fr 77px;
}

.ServiceOpenBox{
	border: 2px solid #fff;
	border-radius: 10px 0px;
	height: 22px;
	padding-top: 2px;
	width: 60px;
	text-align: center;
	font-weight: bold;
	background-color: green;
	cursor: pointer;
	margin: 0px 5px 0px 15px;
    float: right;
}
.ServiceOpenBox:hover{
	background-color: black;
}

@media(max-width: 580px){
	.ServiceOne{
		grid-template-columns: 1fr;
	}
}
