b{
	color: cyan;
}
.Container{
	margin: 30px auto;
	min-height: calc(100vh - 210px);
	border: 3px solid #fff;
	width: calc(100% - 60px);
	max-width: 924px;
	border-radius: 20px 0px;
	color: #fff;
	padding: 0px 10px;
	cursor: default;
}
.ServiceFor{
	border-bottom: 1px solid #fff;
    margin: 15px 0px;
    padding-bottom: 15px;
}
.ServiceBox{
	border-bottom: 1px solid #fff;
	margin-bottom: 50px;
	padding-bottom: 10px;
}
.ServiceOne{
	display: grid;
	grid-template-columns: 1fr 210px;
	grid-column-gap: 20px;
}

.ServiceOne p{
	margin-bottom: 0px;
}

.ServicePlansBox{
	text-align: right;
}
.PlanOne{
	display: grid;
	grid-template-columns: 120px 1fr 150px 70px;
	text-align: center;
	grid-gap: 30px;
}
.BuyBtn{
	border: 2px solid #fff;
	padding: 4px 5px;
	border-radius: 10px 0px;
	margin-top: 8px;
	cursor: pointer;
	height: 20px;
}
.BuyBtn:hover{
	background: green;
}

.VirtualSecurityCode{
    border-radius: 20px 0px;
    height: 30px;
    padding: 0px 5px;
    text-align: center;
    border: 1px solid #ccc;
}

/*
important changes  
 */
.loader_round {
    height: 32px;
    width: 32px;
}
.loader_round::after {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    top: 0; left: 0;
    bottom: 0; right: 0;
    margin: auto;
    background: #FFF;
    border-radius: 50%;
    -webkit-animation: loader_round-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader_round-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-1 {
    0%   { -webkit-transform: scale(0); opacity: 0; }
    50%  { -webkit-transform: scale(1); opacity: 1; }
    100% { -webkit-transform: scale(0); opacity: 0; }
}
@keyframes loader_round-1 {
    0%   { transform: scale(0); opacity: 0; }
    50%  { transform: scale(1); opacity: 1; }
    100% { transform: scale(0); opacity: 0; }
}
.loader_round span {
    display: block;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    -webkit-animation: loader_round-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
            animation: loader_round-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-2 {
    0%   { -webkit-transform: rotate(0deg); }
    50%  { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader_round-2 {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}
.loader_round span::before,
.loader_round span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    margin: auto;
    height: 12px;
    width: 12px;
    background: blue;
    border-radius: 50%;
    -webkit-animation: loader_round-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
            animation: loader_round-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-3 {
    0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
    50%  { -webkit-transform: translate3d(-16px, 0, 0) scale(.5); }
    100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader_round-3 {
    0%   { transform: translate3d(0, 0, 0) scale(1); }
    50%  { transform: translate3d(-16px, 0, 0) scale(.5); }
    100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader_round span::after {
    -webkit-animation: loader_round-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
            animation: loader_round-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader_round-4 {
    0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
    50%  { -webkit-transform: translate3d(16px, 0, 0) scale(.5); }
    100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader_round-4 {
    0%   { transform: translate3d(0, 0, 0) scale(1); }
    50%  { transform: translate3d(16px, 0, 0) scale(.5); }
    100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader_button_center {
    position: absolute;
    margin: -5px 0px 0px -17px;
}

@media(max-width: 580px){
	.ServiceOne{
		grid-template-columns: 1fr;
	}
	.PlanOne{
		grid-template-columns: 150px 1fr;
	}
	.BuyBtn{
		width: 150px;
		margin: auto;
		text-align: center;
	}
}
@media(max-width: 420px){
	.PlanOne{
		grid-template-columns: 1fr;
		text-align: left;
		grid-gap: 0px;
	}
}
