body
{
	margin:0px;
	padding:0px;
}
.Request_Main_Container{
	padding-bottom: 36px;
}
.Request_Title{
	font-size: 34px;
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-weight: bold;
    margin: 0px;
}
.MainContainer{
	margin-bottom: 30px;
	min-height: calc(100vh - 210px);
}

.RequestDetailsOpen{
	margin: 30px auto 100px auto;
	max-width: 1300px;
	width:85%;
	border:1px solid #11cdef;
	overflow-x:auto;
	display:grid;
	grid-template-columns : repeat(6,1fr);
	min-height:100px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 0px;
}
.RequestDetailsOpen-Type2{
	grid-template-columns : repeat(6,1fr);
}
.RequestDetailsOpen div, .RequestResponseBox-2 div{
	border-right:1px solid #11cdef;
	text-align:center;
	padding:5px;
	border-bottom: 1px solid darkgray;
}

.RequestDetailsOpen div p, .RequestResponseBox-2 div p{
	margin: 0px 0px 10px 0px;
}

.RequestDetailsOpen div p:first-child,.RequestResponseBox-2 div p:first-child{
	color: #11cdef;
}
.ProfileImage{
	width: 100px;
	border-radius: 50%;
}
.RequestReasonseBox,.ResponseReasonBox{
	max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.8em;
}
.RequestResponseBox-2{
	margin: -100px auto 100px auto;
	grid-template-columns: repeat(3,1fr);
	background: #6426d2;
	border-radius: 0px;
	max-width: 1300px;
	width:85%;
	border:1px solid #11cdef;
	overflow-x:auto;
	display:grid;
	min-height:100px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 0px;
}
.NoticeBord{
	border:1px solid #fff;
	margin:-100px auto 0px auto;
	text-align:center;
	background:#5b5b5b;
	color:#fff;
	font-size:16px;
	max-width:1300px;
	width:85%;
}

.NoticeBord p{
	margin: 5px;
}

.CloseBtn{
	border: 1px solid #fff;
	margin: 0px auto 0px auto;
	text-align:center;
	background:red;
	color:#fff;
	font-size:16px;
	max-width:1300px;
	width:85%;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.CloseBtn p{
	margin: 5px;
}

.CloseBtn:hover{
	background: #fff;
	color: red;
}

@media (max-width: 780px){
	.RequestDetailsOpen{
		grid-template-columns: repeat(3,1fr);
	}
}

@media (max-width: 480px){
	.RequestDetailsOpen{
		grid-template-columns: repeat(2,1fr);
	}
	.RequestResponseBox-2{
		grid-template-columns: repeat(1,1fr);
	}
}

@media (max-width: 380px){
	.RequestDetailsOpen{
		width: calc(100% - 10px);
		grid-template-columns: repeat(1,1fr);
	}
	.RequestResponseBox-2{
		width: calc(100% - 10px);
		grid-template-columns: repeat(1,1fr);
	}
	.NoticeBord{
		width: calc(100% - 10px);
	}

	.CloseBtn{
		width: calc(100% - 10px);
	}
}